axios 
socket.io-client 
react-router-dom 
styled-components
web-vitals
//npm install axios --save

//npm install favicons CLI
//npm install web-vitals --save
//npm install --save-dev cross-env
//npm install --save-dev react-scripts
//npm install --save-dev react-router-dom   
//npm install --save-dev styled-components
//npm install --save-dev concurrently
